<div class="row">
  <div class="col col-xs-12">
    <div class="input-group">
      <div class="input-group-prepend"><span class="input-group-text">E-Mail: </span></div>
      <input type="email" class="form-control" [(ngModel)]="email">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-success"
                (click)="onSubmit()"
                [disabled]="email.length===0 || !email.includes('@') || pending">
          Resend <fa name="spinner" animation="spin" *ngIf="pending"></fa>
        </button>
      </div>
    </div>
  </div>
</div>
