<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/console"><fa name="terminal"></fa> Console</a>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainnav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/console" class="nav-link"><fa name="clock-o"></fa> Jobs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" (click)="dataMenuCollapsed = !dataMenuCollapsed">
          <fa name="database"></fa> Data
        </a>
        <div class="dropdown-menu {{dataMenuCollapsed ? '' : 'show'}}">
          <a [routerLink]="['datafiles']" class="dropdown-item"><fa name="file"></fa> Data Files</a>
          <a [routerLink]="['mongodb']" class="dropdown-item"><fa name="database"></fa> Database</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="scripts" class="nav-link"><fa name="code"></fa> Scripts</a>
      </li>

    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <a (click)="onLogout()" class="nav-link" style="cursor: pointer"><fa name="sign-out"></fa> Logout</a>
      </li>
    </ul>
  </div>
</nav>
